# Assignment 4
## Description
In this assignment you must read in a file of metropolitan regions and associated sports teams from [assets/wikipedia_data.html](assets/wikipedia_data.html) and answer some questions about each metropolitan region. Each of these regions may have one or more teams from the "Big 4": NFL (football, in [assets/nfl.csv](assets/nfl.csv)), MLB (baseball, in [assets/mlb.csv](assets/mlb.csv)), NBA (basketball, in [assets/nba.csv](assets/nba.csv) or NHL (hockey, in [assets/nhl.csv](assets/nhl.csv)). Please keep in mind that all questions are from the perspective of the metropolitan region, and that this file is the "source of authority" for the location of a given sports team. Thus teams which are commonly known by a different area (e.g. "Oakland Raiders") need to be mapped into the metropolitan region given (e.g. San Francisco Bay Area). This will require some human data understanding outside of the data you've been given (e.g. you will have to hand-code some names, and might need to google to find out where teams are)!

For each sport I would like you to answer the question: **what is the win/loss ratio's correlation with the population of the city it is in?** Win/Loss ratio refers to the number of wins over the number of wins plus the number of losses. Remember that to calculate the correlation with [`pearsonr`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html), so you are going to send in two ordered lists of values, the populations from the wikipedia_data.html file and the win/loss ratio for a given sport in the same order. Average the win/loss ratios for those cities which have multiple teams of a single sport. Each sport is worth an equal amount in this assignment (20%\*4=80%) of the grade for this assignment. You should only use data **from year 2018** for your analysis -- this is important!

## Notes

1. Do not include data about the MLS or CFL in any of the work you are doing, we're only interested in the Big 4 in this assignment.
2. I highly suggest that you first tackle the four correlation questions in order, as they are all similar and worth the majority of grades for this assignment. This is by design!
3. It's fair game to talk with peers about high level strategy as well as the relationship between metropolitan areas and sports teams. However, do not post code solving aspects of the assignment (including such as dictionaries mapping areas to teams, or regexes which will clean up names).
4. There may be more teams than the assert statements test, remember to collapse multiple teams in one city into a single value!

## Question 1
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NHL** using **2018** data.

In [53]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nhl_df=pd.read_csv("assets/nhl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

In [54]:
def Clean_NHL():
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities=cities.iloc[:-1,[0,3,5,6,7,8]]
    #The first thing we need to do is get rid of the [Notes] from the wiki html
    cities['NHL'] = cities['NHL'].str.replace(r'[[].*[]]','')
    cities['NFL'] = cities['NFL'].str.replace(r'[[].*[]]','')
    cities['MLB'] = cities['MLB'].str.replace(r'[[].*[]]','')
    cities['NBA'] = cities['NBA'].str.replace(r'[[].*[]]','')

    #Next, some lines have multiple teams on them so we need to extract that data
    #I made it a little bit more readable by spreading out the regex on 3 lines
    #In this case there was only 1 instance where a region had 3 teams, so i only had to use 3 lines. 
    #This should be iterable, should look into how. 
    Allteams1 = cities['NHL'].str.extract(r'(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams1['Metropolitan area'] = cities['Metropolitan area']
    Allteams2 = cities['NHL'].str.extract(r'(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams2['Metropolitan area'] = cities['Metropolitan area']
    Allteams3 = cities['NHL'].str.extract(r'(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams3['Metropolitan area'] = cities['Metropolitan area']
    df=pd.concat([Allteams1, Allteams2, Allteams3]).sort_index(axis=0)
    df['team'] = df['team'].apply(lambda x: np.nan if x == "" else x)
    #df['team'] = df['team'].str.extract(r'(?:[\w.]*\ )([\w.]*)|([\w.]*)')
    df.dropna(axis=0,inplace=True)
    df.drop_duplicates(subset=['team'], keep=False,inplace=True)
    df_return = pd.merge(df,cities,on='Metropolitan area')
    df_return.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)
    df_return['Population'] = pd.to_numeric(df_return['Population'])
    del df_return['NHL']
    del df_return['MLB']
    del df_return['NBA']
    del df_return['NFL']
    junction = df_return['team'].str.extract(r'(?:[\w.]*\ )([\w.]*)|([\w.]*)')
    df1 = junction[0]
    df2 = junction[1]
    teamJoin = pd.concat([df1, df2],join='outer')
    teamJoin.dropna(inplace=True)
    teamJoin.sort_index(ascending=True)
    df_return['Join'] = teamJoin
    return df_return

In [55]:
Clean_NHL()

              team       Metropolitan area  Population        Join
0          Rangers           New York City    20153634     Rangers
1        Islanders           New York City    20153634   Islanders
2           Devils           New York City    20153634      Devils
3            Kings             Los Angeles    13310447       Kings
4            Ducks             Los Angeles    13310447       Ducks
5           Sharks  San Francisco Bay Area     6657982      Sharks
6       Blackhawks                 Chicago     9512999  Blackhawks
7            Stars       Dallas–Fort Worth     7233323       Stars
8         Capitals        Washington, D.C.     6131977    Capitals
9           Flyers            Philadelphia     6070500      Flyers
10          Bruins                  Boston     4794447      Bruins
11            Wild  Minneapolis–Saint Paul     3551036        Wild
12       Avalanche                  Denver     2853077   Avalanche
13        Panthers   Miami–Fort Lauderdale     6066387    Panthers
14         Coyotes                 Phoenix     4661537     Coyotes
15       Red Wings                 Detroit     4297617       Wings
16     Maple Leafs                 Toronto     5928040       Leafs
17       Lightning          Tampa Bay Area     3032171   Lightning
18        Penguins              Pittsburgh     2342299    Penguins
19           Blues               St. Louis     2807002       Blues
20       Predators               Nashville     1865298   Predators
21          Sabres                 Buffalo     1132804      Sabres
22       Canadiens                Montreal     4098927   Canadiens
23         Canucks               Vancouver     2463431     Canucks
24    Blue Jackets                Columbus     2041520     Jackets
25          Flames                 Calgary     1392609      Flames
26        Senators                  Ottawa     1323783    Senators
27          Oilers                Edmonton     1321426      Oilers
28            Jets                Winnipeg      778489        Jets
29  Golden Knights               Las Vegas     2155664     Knights
30      Hurricanes                 Raleigh     1302946  Hurricanes

In [56]:
def Clean_WL():
    nhl_df=pd.read_csv("assets/nhl.csv")
    nhl_df['team'] = nhl_df['team'].str.replace(r'[*]','')
    nhl_df['year'] = nhl_df['year'].apply(lambda x: int(2018) if x==2018 else np.nan)
    nhl_df.dropna(inplace=True)
    nhl_df['GP']=nhl_df['GP'].apply(lambda x: x if x.isnumeric() else np.nan)
    nhl_df.dropna(inplace=True)
    nhl_df['L']=pd.to_numeric(nhl_df['L'])
    nhl_df['W']=pd.to_numeric(nhl_df['W'])
    nhl_df = nhl_df[['team','W','L']]
    nhl_df['ratio'] = nhl_df['W']/(nhl_df['L']+nhl_df['W'])
    junction = nhl_df['team'].str.extract(r'(?:[\w.]*\ )(?:[\w.]*\ )([\w.]*)|(?:[\w.]*\ )([\w.]*)')
    df1 = junction[0]
    df2 = junction[1]
    teamJoin = pd.concat([df1, df2],join='outer')
    teamJoin.dropna(inplace=True)
    teamJoin.sort_index(ascending=True)
    nhl_df['Join'] = teamJoin
    return nhl_df

In [57]:
Clean_WL()

                     team   W   L     ratio        Join
1     Tampa Bay Lightning  54  23  0.701299   Lightning
2           Boston Bruins  50  20  0.714286      Bruins
3     Toronto Maple Leafs  49  26  0.653333       Leafs
4        Florida Panthers  44  30  0.594595    Panthers
5       Detroit Red Wings  30  39  0.434783       Wings
6      Montreal Canadiens  29  40  0.420290   Canadiens
7         Ottawa Senators  28  43  0.394366    Senators
8          Buffalo Sabres  25  45  0.357143      Sabres
10    Washington Capitals  49  26  0.653333    Capitals
11    Pittsburgh Penguins  47  29  0.618421    Penguins
12    Philadelphia Flyers  42  26  0.617647      Flyers
13  Columbus Blue Jackets  45  30  0.600000     Jackets
14      New Jersey Devils  44  29  0.602740      Devils
15    Carolina Hurricanes  36  35  0.507042  Hurricanes
16     New York Islanders  35  37  0.486111   Islanders
17       New York Rangers  34  39  0.465753     Rangers
19    Nashville Predators  53  18  0.746479   Predators
20          Winnipeg Jets  52  20  0.722222        Jets
21         Minnesota Wild  45  26  0.633803        Wild
22     Colorado Avalanche  43  30  0.589041   Avalanche
23        St. Louis Blues  44  32  0.578947       Blues
24           Dallas Stars  42  32  0.567568       Stars
25     Chicago Blackhawks  33  39  0.458333  Blackhawks
27   Vegas Golden Knights  51  24  0.680000     Knights
28          Anaheim Ducks  44  25  0.637681       Ducks
29        San Jose Sharks  45  27  0.625000      Sharks
30      Los Angeles Kings  45  29  0.608108       Kings
31         Calgary Flames  37  35  0.513889      Flames
32        Edmonton Oilers  36  40  0.473684      Oilers
33      Vancouver Canucks  31  40  0.436620     Canucks
34        Arizona Coyotes  29  41  0.414286     Coyotes

In [58]:
def nhl_correlation(): 
    df1 = Clean_NHL()
    df2 = Clean_WL()
    nhl_corr = pd.merge(df1,df2,'outer',on='Join')
    nhl_corr = nhl_corr.groupby('Metropolitan area').agg({'ratio':np.nanmean, 'Population':np.nanmean})
    
    population_by_region = nhl_corr['Population'] # pass in metropolitan area population from cities
    win_loss_by_region = nhl_corr['ratio'] # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q1: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q1: There should be 28 teams being analysed for NHL"
    
    return stats.pearsonr(population_by_region, win_loss_by_region)[0]
    raise NotImplementedError()

In [59]:
nhl_correlation()

0.012486162921209907

## Question 2
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NBA** using **2018** data.

In [60]:
def Clean_NBA():
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities=cities.iloc[:-1,[0,3,5,6,7,8]]
    #The first thing we need to do is get rid of the [Notes] from the wiki html
    cities['NHL'] = cities['NHL'].str.replace(r'[[].*[]]','')
    cities['NFL'] = cities['NFL'].str.replace(r'[[].*[]]','')
    cities['MLB'] = cities['MLB'].str.replace(r'[[].*[]]','')
    cities['NBA'] = cities['NBA'].str.replace(r'[[].*[]]','')

    #Next, some lines have multiple teams on them so we need to extract that data
    #I made it a little bit more readable by spreading out the regex on 3 lines
    #In this case there was only 1 instance where a region had 3 teams, so i only had to use 3 lines. 
    #This should be iterable, should look into how. 
    Allteams1 = cities['NBA'].str.extract(r'(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams1['Metropolitan area'] = cities['Metropolitan area']
    Allteams2 = cities['NBA'].str.extract(r'(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams2['Metropolitan area'] = cities['Metropolitan area']
    Allteams3 = cities['NBA'].str.extract(r'(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams3['Metropolitan area'] = cities['Metropolitan area']
    df=pd.concat([Allteams1, Allteams2, Allteams3]).sort_index(axis=0)
    df['team'] = df['team'].apply(lambda x: np.nan if x == "" else x)
    #df['team'] = df['team'].str.extract(r'(?:[\w.]*\ )([\w.]*)|([\w.]*)')
    df.dropna(axis=0,inplace=True)
    df.drop_duplicates(subset=['team'], keep=False,inplace=True)
    df_return = pd.merge(df,cities,on='Metropolitan area')
    df_return.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)
    df_return['Population'] = pd.to_numeric(df_return['Population'])
    del df_return['NHL']
    del df_return['MLB']
    del df_return['NBA']
    del df_return['NFL']
    junction = df_return['team'].str.extract(r'(?:[\w.]*\ )([\w.]*)|([\w.]*)')
    df1 = junction[0]
    df2 = junction[1]
    teamJoin = pd.concat([df1, df2],join='outer')
    teamJoin.dropna(inplace=True)
    teamJoin.sort_index(ascending=True)
    df_return['Join'] = teamJoin
    return df_return

In [61]:
Clean_NBA()

             team       Metropolitan area  Population          Join
0          Knicks           New York City    20153634        Knicks
1            Nets           New York City    20153634          Nets
2          Lakers             Los Angeles    13310447        Lakers
3        Clippers             Los Angeles    13310447      Clippers
4        Warriors  San Francisco Bay Area     6657982      Warriors
5           Bulls                 Chicago     9512999         Bulls
6       Mavericks       Dallas–Fort Worth     7233323     Mavericks
7         Wizards        Washington, D.C.     6131977       Wizards
8           76ers            Philadelphia     6070500         76ers
9         Celtics                  Boston     4794447       Celtics
10   Timberwolves  Minneapolis–Saint Paul     3551036  Timberwolves
11        Nuggets                  Denver     2853077       Nuggets
12           Heat   Miami–Fort Lauderdale     6066387          Heat
13           Suns                 Phoenix     4661537          Suns
14        Pistons                 Detroit     4297617       Pistons
15        Raptors                 Toronto     5928040       Raptors
16        Rockets                 Houston     6772470       Rockets
17          Hawks                 Atlanta     5789700         Hawks
18      Cavaliers               Cleveland     2055612     Cavaliers
19        Hornets               Charlotte     2474314       Hornets
20         Pacers            Indianapolis     2004230        Pacers
21          Bucks               Milwaukee     1572482         Bucks
22       Pelicans             New Orleans     1268883      Pelicans
23          Magic                 Orlando     2441257         Magic
24  Trail Blazers                Portland     2424955       Blazers
25           Jazz          Salt Lake City     1186187          Jazz
26          Spurs             San Antonio     2429609         Spurs
27          Kings              Sacramento     2296418         Kings
28        Thunder           Oklahoma City     1373211       Thunder
29      Grizzlies                 Memphis     1342842     Grizzlies

In [62]:
nba_df=pd.read_csv("assets/nba.csv")

In [63]:
def Clean_NBAWL():
    nhl_df=pd.read_csv("assets/nba.csv")
    nhl_df['team'] = nhl_df['team'].str.replace(r'\*','')
    nhl_df['team'] = nhl_df['team'].str.replace(r'\s\(\d*\)','')
    nhl_df['year'] = nhl_df['year'].apply(lambda x: int(2018) if x==2018 else np.nan)
    nhl_df.dropna(inplace=True)
    #nhl_df['GP']=nhl_df['GP'].apply(lambda x: x if x.isnumeric() else np.nan)
    #nhl_df.dropna(inplace=True)
    nhl_df['L']=pd.to_numeric(nhl_df['L'])
    nhl_df['W']=pd.to_numeric(nhl_df['W'])
    nhl_df = nhl_df[['team','W','L']]
    nhl_df['ratio'] = nhl_df['W']/(nhl_df['L']+nhl_df['W'])
    junction = nhl_df['team'].str.extract(r'(?:[\w.]*\ )(?:[\w.]*\ )([\w.]*)|(?:[\w.]*\ )([\w.]*)')
    df1 = junction[0]
    df2 = junction[1]
    teamJoin = pd.concat([df1, df2],join='outer')
    teamJoin.dropna(inplace=True)
    teamJoin.sort_index(ascending=True)
    nhl_df['Join'] = teamJoin
    return nhl_df

In [64]:
Clean_NBAWL()

                      team   W   L     ratio          Join
0          Toronto Raptors  59  23  0.719512       Raptors
1           Boston Celtics  55  27  0.670732       Celtics
2       Philadelphia 76ers  52  30  0.634146         76ers
3      Cleveland Cavaliers  50  32  0.609756     Cavaliers
4           Indiana Pacers  48  34  0.585366        Pacers
5               Miami Heat  44  38  0.536585          Heat
6          Milwaukee Bucks  44  38  0.536585         Bucks
7       Washington Wizards  43  39  0.524390       Wizards
8          Detroit Pistons  39  43  0.475610       Pistons
9        Charlotte Hornets  36  46  0.439024       Hornets
10         New York Knicks  29  53  0.353659        Knicks
11           Brooklyn Nets  28  54  0.341463          Nets
12           Chicago Bulls  27  55  0.329268         Bulls
13           Orlando Magic  25  57  0.304878         Magic
14           Atlanta Hawks  24  58  0.292683         Hawks
15         Houston Rockets  65  17  0.792683       Rockets
16   Golden State Warriors  58  24  0.707317      Warriors
17  Portland Trail Blazers  49  33  0.597561       Blazers
18   Oklahoma City Thunder  48  34  0.585366       Thunder
19               Utah Jazz  48  34  0.585366          Jazz
20    New Orleans Pelicans  48  34  0.585366      Pelicans
21       San Antonio Spurs  47  35  0.573171         Spurs
22  Minnesota Timberwolves  47  35  0.573171  Timberwolves
23          Denver Nuggets  46  36  0.560976       Nuggets
24    Los Angeles Clippers  42  40  0.512195      Clippers
25      Los Angeles Lakers  35  47  0.426829        Lakers
26        Sacramento Kings  27  55  0.329268         Kings
27        Dallas Mavericks  24  58  0.292683     Mavericks
28       Memphis Grizzlies  22  60  0.268293     Grizzlies
29            Phoenix Suns  21  61  0.256098          Suns

In [65]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nba_df=pd.read_csv("assets/nba.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def nba_correlation():
    df1 = Clean_NBA()
    df2 = Clean_NBAWL()
    nba_corr = pd.merge(df1,df2,'outer',on='Join')
    nba_corr = nba_corr.groupby('Metropolitan area').agg({'ratio':np.nanmean, 'Population':np.nanmean})
    
    population_by_region = nba_corr['Population'] # pass in metropolitan area population from cities
    win_loss_by_region = nba_corr['ratio'] # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q1: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q1: There should be 30 teams being analysed for NBA"
    
    return stats.pearsonr(population_by_region, win_loss_by_region)[0]
    raise NotImplementedError()

In [66]:
nba_correlation()

-0.17657160252844617

## Question 3
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **MLB** using **2018** data.

In [67]:
def Clean_MLB():
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities=cities.iloc[:-1,[0,3,5,6,7,8]]
    #The first thing we need to do is get rid of the [Notes] from the wiki html
    cities['NHL'] = cities['NHL'].str.replace(r'[[].*[]]','')
    cities['NFL'] = cities['NFL'].str.replace(r'[[].*[]]','')
    cities['MLB'] = cities['MLB'].str.replace(r'[[].*[]]','')
    cities['NBA'] = cities['NBA'].str.replace(r'[[].*[]]','')

    #Next, some lines have multiple teams on them so we need to extract that data
    #I made it a little bit more readable by spreading out the regex on 3 lines
    #In this case there was only 1 instance where a region had 3 teams, so i only had to use 3 lines. 
    #This should be iterable, should look into how. 
    Allteams1 = cities['MLB'].str.extract(r'(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams1['Metropolitan area'] = cities['Metropolitan area']
    Allteams2 = cities['MLB'].str.extract(r'(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams2['Metropolitan area'] = cities['Metropolitan area']
    Allteams3 = cities['MLB'].str.extract(r'(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams3['Metropolitan area'] = cities['Metropolitan area']
    df=pd.concat([Allteams1, Allteams2, Allteams3]).sort_index(axis=0)
    df['team'] = df['team'].apply(lambda x: np.nan if x == "" else x)
    #df['team'] = df['team'].str.extract(r'(?:[\w.]*\ )([\w.]*)|([\w.]*)')
    df.dropna(axis=0,inplace=True)
    df.drop_duplicates(subset=['team'], keep=False,inplace=True)
    df_return = pd.merge(df,cities,on='Metropolitan area')
    df_return.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)
    df_return['Population'] = pd.to_numeric(df_return['Population'])
    del df_return['NHL']
    del df_return['MLB']
    del df_return['NBA']
    del df_return['NFL']
    junction = df_return['team'].str.extract(r'([\w.]*\ [\w.]*)|([\w.]*)')
    df1 = junction[0]
    df2 = junction[1]
    teamJoin = pd.concat([df1, df2],join='outer')
    teamJoin.dropna(inplace=True)
    teamJoin.sort_index(ascending=True)
    df_return['Join'] = teamJoin
    df_return['Join'] = df_return['team'].str.replace(r'(\s)','')
    return df_return

In [68]:
Clean_MLB()

            team       Metropolitan area  Population          Join
0        Yankees           New York City    20153634       Yankees
1           Mets           New York City    20153634          Mets
2        Dodgers             Los Angeles    13310447       Dodgers
3         Angels             Los Angeles    13310447        Angels
4         Giants  San Francisco Bay Area     6657982        Giants
5      Athletics  San Francisco Bay Area     6657982     Athletics
6           Cubs                 Chicago     9512999          Cubs
7      White Sox                 Chicago     9512999      WhiteSox
8        Rangers       Dallas–Fort Worth     7233323       Rangers
9      Nationals        Washington, D.C.     6131977     Nationals
10      Phillies            Philadelphia     6070500      Phillies
11       Red Sox                  Boston     4794447        RedSox
12         Twins  Minneapolis–Saint Paul     3551036         Twins
13       Rockies                  Denver     2853077       Rockies
14       Marlins   Miami–Fort Lauderdale     6066387       Marlins
15  Diamondbacks                 Phoenix     4661537  Diamondbacks
16        Tigers                 Detroit     4297617        Tigers
17     Blue Jays                 Toronto     5928040      BlueJays
18        Astros                 Houston     6772470        Astros
19        Braves                 Atlanta     5789700        Braves
20          Rays          Tampa Bay Area     3032171          Rays
21       Pirates              Pittsburgh     2342299       Pirates
22       Indians               Cleveland     2055612       Indians
23      Mariners                 Seattle     3798902      Mariners
24          Reds              Cincinnati     2165139          Reds
25        Royals             Kansas City     2104509        Royals
26     Cardinals               St. Louis     2807002     Cardinals
27       Orioles               Baltimore     2798886       Orioles
28       Brewers               Milwaukee     1572482       Brewers
29        Padres               San Diego     3317749        Padres

In [69]:
def Clean_MLBWL():
    nhl_df=pd.read_csv("assets/mlb.csv")
    nhl_df['team'] = nhl_df['team'].str.replace(r'[\*]',"")
    nhl_df['team'] = nhl_df['team'].str.replace(r'\(\d*\)',"")
    nhl_df['team'] = nhl_df['team'].str.replace(r'[\xa0]',"")
    nhl_df['year'] = nhl_df['year'].apply(lambda x: int(2018) if x==2018 else np.nan)
    nhl_df.dropna(inplace=True)
    #nhl_df['GP']=nhl_df['GP'].apply(lambda x: x if x.isnumeric() else np.nan)
    #nhl_df.dropna(inplace=True)
    nhl_df['W-L%']=pd.to_numeric(nhl_df['W-L%'])
    nhl_df = nhl_df[['team','W-L%']]
    nhl_df['ratio'] = nhl_df['W-L%']
    #junction = nhl_df['team'].str.extract(r'(?:[\w.]*\ )(?:[\w.]*\ )([\w.]*)|(?:[\w.]*\ )([\w.]*)')
    #df1 = junction[0]
    #df2 = junction[1]
    #teamJoin = pd.concat([df1, df2],join='outer')
    #teamJoin.dropna(inplace=True)
    #teamJoin.sort_index(ascending=True)
    nhl_df['Join'] = nhl_df['team']
    nhl_df['Join'] = nhl_df['Join'].str.replace(r'\ Sox','Sox')
    nhl_df['Join'] = nhl_df['Join'].str.replace(r'\ Jay','Jay')
    #matches every word with a space after it meaning you can leave the team name unmatched!
    nhl_df['Join'] = nhl_df['Join'].str.replace(r'[\w.]* ','')
    return nhl_df

In [70]:
Clean_MLBWL()

                     team   W-L%  ratio          Join
0          Boston Red Sox  0.667  0.667        RedSox
1        New York Yankees  0.617  0.617       Yankees
2          Tampa Bay Rays  0.556  0.556          Rays
3       Toronto Blue Jays  0.451  0.451      BlueJays
4       Baltimore Orioles  0.290  0.290       Orioles
5       Cleveland Indians  0.562  0.562       Indians
6         Minnesota Twins  0.481  0.481         Twins
7          Detroit Tigers  0.395  0.395        Tigers
8       Chicago White Sox  0.383  0.383      WhiteSox
9      Kansas City Royals  0.358  0.358        Royals
10         Houston Astros  0.636  0.636        Astros
11      Oakland Athletics  0.599  0.599     Athletics
12       Seattle Mariners  0.549  0.549      Mariners
13     Los Angeles Angels  0.494  0.494        Angels
14          Texas Rangers  0.414  0.414       Rangers
15         Atlanta Braves  0.556  0.556        Braves
16   Washington Nationals  0.506  0.506     Nationals
17  Philadelphia Phillies  0.494  0.494      Phillies
18          New York Mets  0.475  0.475          Mets
19          Miami Marlins  0.391  0.391       Marlins
20      Milwaukee Brewers  0.589  0.589       Brewers
21           Chicago Cubs  0.583  0.583          Cubs
22    St. Louis Cardinals  0.543  0.543     Cardinals
23     Pittsburgh Pirates  0.509  0.509       Pirates
24        Cincinnati Reds  0.414  0.414          Reds
25    Los Angeles Dodgers  0.564  0.564       Dodgers
26       Colorado Rockies  0.558  0.558       Rockies
27   Arizona Diamondbacks  0.506  0.506  Diamondbacks
28   San Francisco Giants  0.451  0.451        Giants
29       San Diego Padres  0.407  0.407        Padres

In [71]:
    df1 = Clean_MLB()
    df2 = Clean_MLBWL()
    mlb_corr = pd.merge(df1,df2,'outer',on='Join')
    mlb_corr = mlb_corr.groupby('Metropolitan area').agg({'W-L%':np.nanmean, 'Population':np.nanmean})
    mlb_corr

                         W-L%  Population
Metropolitan area
Atlanta                 0.556     5789700
Baltimore               0.290     2798886
Boston                  0.667     4794447
Chicago                 0.483     9512999
Cincinnati              0.414     2165139
Cleveland               0.562     2055612
Dallas–Fort Worth       0.414     7233323
Denver                  0.558     2853077
Detroit                 0.395     4297617
Houston                 0.636     6772470
Kansas City             0.358     2104509
Los Angeles             0.529    13310447
Miami–Fort Lauderdale   0.391     6066387
Milwaukee               0.589     1572482
Minneapolis–Saint Paul  0.481     3551036
New York City           0.546    20153634
Philadelphia            0.494     6070500
Phoenix                 0.506     4661537
Pittsburgh              0.509     2342299
San Diego               0.407     3317749
San Francisco Bay Area  0.525     6657982
Seattle                 0.549     3798902
St. Louis               0.543     2807002
Tampa Bay Area          0.556     3032171
Toronto                 0.451     5928040
Washington, D.C.        0.506     6131977

In [72]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def mlb_correlation(): 
    # YOUR CODE HERE
    df1 = Clean_MLB()
    df2 = Clean_MLBWL()
    mlb_corr = pd.merge(df1,df2,'outer',on='Join')
    mlb_corr = mlb_corr.groupby('Metropolitan area').agg({'W-L%':np.nanmean, 'Population':np.nanmean})
    
    population_by_region = mlb_corr['Population'] # pass in metropolitan area population from cities
    win_loss_by_region = mlb_corr['W-L%'] # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]
    
    assert len(population_by_region) == len(win_loss_by_region), "Q3: Your lists must be the same length"
    assert len(population_by_region) == 26, "Q3: There should be 26 teams being analysed for MLB"

    return stats.pearsonr(population_by_region, win_loss_by_region)[0]

In [73]:
mlb_correlation()

0.15003737475409495

## Question 4
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NFL** using **2018** data.

In [74]:
def Clean_NFL():
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities=cities.iloc[:-1,[0,3,5,6,7,8]]
    #The first thing we need to do is get rid of the [Notes] from the wiki html
    cities['NHL'] = cities['NHL'].str.replace(r'[[].*[]]','')
    cities['NFL'] = cities['NFL'].str.replace(r'[[].*[]]','')
    cities['MLB'] = cities['MLB'].str.replace(r'[[].*[]]','')
    cities['NBA'] = cities['NBA'].str.replace(r'[[].*[]]','')

    #Next, some lines have multiple teams on them so we need to extract that data
    #I made it a little bit more readable by spreading out the regex on 3 lines
    #In this case there was only 1 instance where a region had 3 teams, so i only had to use 3 lines. 
    #This should be iterable, should look into how. 
    Allteams1 = cities['NFL'].str.extract(r'(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams1['Metropolitan area'] = cities['Metropolitan area']
    Allteams2 = cities['NFL'].str.extract(r'(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams2['Metropolitan area'] = cities['Metropolitan area']
    Allteams3 = cities['NFL'].str.extract(r'(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?:[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)'
                                     '(?P<team>[A-Z0-9]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z0-9]{0,2}[a-z0-9]*)')
    #Add City names back into the data frame
    Allteams3['Metropolitan area'] = cities['Metropolitan area']
    df=pd.concat([Allteams1, Allteams2, Allteams3]).sort_index(axis=0)
    df['team'] = df['team'].apply(lambda x: np.nan if x == "" else x)
    #df['team'] = df['team'].str.extract(r'(?:[\w.]*\ )([\w.]*)|([\w.]*)')
    df.dropna(axis=0,inplace=True)
    df.drop_duplicates(subset=['team'], keep=False,inplace=True)
    df_return = pd.merge(df,cities,on='Metropolitan area')
    df_return.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)
    df_return['Population'] = pd.to_numeric(df_return['Population'])
    del df_return['NHL']
    del df_return['MLB']
    del df_return['NBA']
    del df_return['NFL']
    junction = df_return['team'].str.extract(r'([\w.]*\ [\w.]*)|([\w.]*)')
    df1 = junction[0]
    df2 = junction[1]
    teamJoin = pd.concat([df1, df2],join='outer')
    teamJoin.dropna(inplace=True)
    teamJoin.sort_index(ascending=True)
    df_return['Join'] = teamJoin
    df_return['Join'] = df_return['team'].str.replace(r'(\s)','')
    return df_return

In [75]:
Clean_NFL()

          team       Metropolitan area  Population        Join
0       Giants           New York City    20153634      Giants
1         Jets           New York City    20153634        Jets
2         Rams             Los Angeles    13310447        Rams
3     Chargers             Los Angeles    13310447    Chargers
4        49ers  San Francisco Bay Area     6657982       49ers
5      Raiders  San Francisco Bay Area     6657982     Raiders
6        Bears                 Chicago     9512999       Bears
7      Cowboys       Dallas–Fort Worth     7233323     Cowboys
8     Redskins        Washington, D.C.     6131977    Redskins
9       Eagles            Philadelphia     6070500      Eagles
10    Patriots                  Boston     4794447    Patriots
11     Vikings  Minneapolis–Saint Paul     3551036     Vikings
12     Broncos                  Denver     2853077     Broncos
13    Dolphins   Miami–Fort Lauderdale     6066387    Dolphins
14   Cardinals                 Phoenix     4661537   Cardinals
15       Lions                 Detroit     4297617       Lions
16      Texans                 Houston     6772470      Texans
17     Falcons                 Atlanta     5789700     Falcons
18  Buccaneers          Tampa Bay Area     3032171  Buccaneers
19    Steelers              Pittsburgh     2342299    Steelers
20      Browns               Cleveland     2055612      Browns
21    Seahawks                 Seattle     3798902    Seahawks
22     Bengals              Cincinnati     2165139     Bengals
23      Chiefs             Kansas City     2104509      Chiefs
24      Ravens               Baltimore     2798886      Ravens
25    Panthers               Charlotte     2474314    Panthers
26       Colts            Indianapolis     2004230       Colts
27      Titans               Nashville     1865298      Titans
28      Saints             New Orleans     1268883      Saints
29       Bills                 Buffalo     1132804       Bills
30     Jaguars            Jacksonville     1478212     Jaguars
31     Packers               Green Bay      318236     Packers

In [76]:
def Clean_NFLWL():
    nhl_df=pd.read_csv("assets/nfl.csv")
    nhl_df['year'] = nhl_df['year'].apply(lambda x: int(2018) if x==2018 else np.nan)
    nhl_df.dropna(inplace=True)
    nhl_df['W-L%']=pd.to_numeric(nhl_df['W-L%'],errors='coerce')
    nhl_df.dropna(inplace=True)
    nhl_df['team'] = nhl_df['team'].str.replace(r'[\*]',"")
    nhl_df['team'] = nhl_df['team'].str.replace(r'[\+]',"")
    nhl_df = nhl_df[['team','W-L%']]
    nhl_df['ratio'] = nhl_df['W-L%']
    nhl_df['Join'] = nhl_df['team']
    nhl_df['Join'] = nhl_df['Join'].str.replace(r'[\w.]* ','')
    return nhl_df

In [77]:
Clean_NFLWL()

                    team   W-L%  ratio        Join
1   New England Patriots  0.688  0.688    Patriots
2         Miami Dolphins  0.438  0.438    Dolphins
3          Buffalo Bills  0.375  0.375       Bills
4          New York Jets  0.250  0.250        Jets
6       Baltimore Ravens  0.625  0.625      Ravens
7    Pittsburgh Steelers  0.594  0.594    Steelers
8       Cleveland Browns  0.469  0.469      Browns
9     Cincinnati Bengals  0.375  0.375     Bengals
11        Houston Texans  0.688  0.688      Texans
12    Indianapolis Colts  0.625  0.625       Colts
13      Tennessee Titans  0.563  0.563      Titans
14  Jacksonville Jaguars  0.313  0.313     Jaguars
16    Kansas City Chiefs  0.750  0.750      Chiefs
17  Los Angeles Chargers  0.750  0.750    Chargers
18        Denver Broncos  0.375  0.375     Broncos
19       Oakland Raiders  0.250  0.250     Raiders
21        Dallas Cowboys  0.625  0.625     Cowboys
22   Philadelphia Eagles  0.563  0.563      Eagles
23   Washington Redskins  0.438  0.438    Redskins
24       New York Giants  0.313  0.313      Giants
26         Chicago Bears  0.750  0.750       Bears
27     Minnesota Vikings  0.531  0.531     Vikings
28     Green Bay Packers  0.406  0.406     Packers
29         Detroit Lions  0.375  0.375       Lions
31    New Orleans Saints  0.813  0.813      Saints
32     Carolina Panthers  0.438  0.438    Panthers
33       Atlanta Falcons  0.438  0.438     Falcons
34  Tampa Bay Buccaneers  0.313  0.313  Buccaneers
36      Los Angeles Rams  0.813  0.813        Rams
37      Seattle Seahawks  0.625  0.625    Seahawks
38   San Francisco 49ers  0.250  0.250       49ers
39     Arizona Cardinals  0.188  0.188   Cardinals

In [78]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def nfl_correlation(): 
    df1 = Clean_NFL()
    df2 = Clean_NFLWL()
    nfl_corr = pd.merge(df1,df2,'outer',on='Join')
    nfl_corr = nfl_corr.groupby('Metropolitan area').agg({'W-L%':np.nanmean, 'Population':np.nanmean})
    
    population_by_region = nfl_corr['Population'] # pass in metropolitan area population from cities
    win_loss_by_region = nfl_corr['W-L%'] # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q4: Your lists must be the same length"
    assert len(population_by_region) == 29, "Q4: There should be 29 teams being analysed for NFL"

    return stats.pearsonr(population_by_region, win_loss_by_region)[0]
    raise NotImplementedError()

In [79]:
nfl_correlation()

0.004282141436392957

## Question 5
In this question I would like you to explore the hypothesis that **given that an area has two sports teams in different sports, those teams will perform the same within their respective sports**. How I would like to see this explored is with a series of paired t-tests (so use [`ttest_rel`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html)) between all pairs of sports. Are there any sports where we can reject the null hypothesis? Again, average values where a sport has multiple teams in one region. Remember, you will only be including, for each sport, cities which have teams engaged in that sport, drop others as appropriate. This question is worth 20% of the grade for this assignment.

______________________________________________
______________________________________________
______________________________________________

We need to retrieve all the win-loss data by metropolitan area then create a selection for each of the permeations that need to be checked (NHL/NFL, NHL/MLB, NHL/NBA, NFL/MLB, NFL/NBA, MLB/NBA, etc.). The ttest can be checked for each sequence.

In [104]:
def nhl_data():
    df1 = Clean_NHL()
    df2 = Clean_WL()
    nhl_corr = pd.merge(df1,df2,'outer',on='Join')
    nhl_corr = nhl_corr.groupby('Metropolitan area').agg({'ratio':np.nanmean, 'Population':np.nanmean})
    nhl_corr['W-L%'] = nhl_corr['ratio']
    return nhl_corr[['W-L%']]

In [116]:
isinstance(nhl_data(), pd.DataFrame)

True

In [106]:
def nba_data():
    df1 = Clean_NBA()
    df2 = Clean_NBAWL()
    nba_corr = pd.merge(df1,df2,'outer',on='Join')
    nba_corr = nba_corr.groupby('Metropolitan area').agg({'ratio':np.nanmean, 'Population':np.nanmean})
    nba_corr['W-L%']=nba_corr['ratio']
    return nba_corr[['W-L%']]

In [117]:
isinstance(nba_data(), pd.DataFrame)

True

In [108]:
def mlb_data():
    df1 = Clean_MLB()
    df2 = Clean_MLBWL()
    mlb_corr = pd.merge(df1,df2,'outer',on='Join')
    mlb_corr = mlb_corr.groupby('Metropolitan area').agg({'W-L%':np.nanmean, 'Population':np.nanmean})
    return mlb_corr[['W-L%']]

In [118]:
isinstance(mlb_data(), pd.DataFrame)

True

In [110]:
def nfl_data():
    df1 = Clean_NFL()
    df2 = Clean_NFLWL()
    nfl_corr = pd.merge(df1,df2,'outer',on='Join')
    nfl_corr = nfl_corr.groupby('Metropolitan area').agg({'W-L%':np.nanmean, 'Population':np.nanmean})
    return nfl_corr[['W-L%']]

In [119]:
isinstance(nfl_data(), pd.DataFrame)

True

In [138]:
def sport_selector(sport):
    if sport =='NHL':
        return nhl_data()
    elif sport =='NFL':
        return nfl_data()
    elif sport =='MLB':
        return mlb_data()
    elif sport=='NBA':
        return nba_data()
    else:
        return None

In [148]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
nhl_df=pd.read_csv("assets/nhl.csv")
nba_df=pd.read_csv("assets/nba.csv")
nfl_df=pd.read_csv("assets/nfl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def sports_team_performance():
    
    # Note: p_values is a full dataframe, so df.loc["NFL","NBA"] should be the same as df.loc["NBA","NFL"] and
    # df.loc["NFL","NFL"] should return np.nan
    sports = ['NFL', 'NBA', 'NHL', 'MLB']
    p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)
    
    for l in sports:
        for m in sports:
            if l !=m:
                df=pd.merge(sport_selector(l), sport_selector(m), 'inner', on=['Metropolitan area'])
                p_values.loc[l, m]=stats.ttest_rel(df['W-L%_x'], df['W-L%_y'])[1]
    
    assert abs(p_values.loc["NBA", "NHL"] - 0.02) <= 1e-2, "The NBA-NHL p-value should be around 0.02"
    assert abs(p_values.loc["MLB", "NFL"] - 0.80) <= 1e-2, "The MLB-NFL p-value should be around 0.80"
    return p_values

In [149]:
sports_team_performance()

          NFL       NBA       NHL       MLB
NFL       NaN  0.937445  0.030318  0.803459
NBA  0.937445       NaN  0.022297  0.951629
NHL  0.030318  0.022297       NaN  0.000703
MLB  0.803459  0.951629  0.000703       NaN